<!DOCTYPE html>
<html lang="en">
   <head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="http://huyenduc.click/" />
    <!-- mobile metas -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="google-site-verification" content="O-zbU2YhR9rmTfokgfkj613H2rCcUMXXhfiXLBxKpg8" />
    <!-- site metas -->
    <title>@ViewData["MetaTitle"]</title>
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@ViewData["MetaTitle"]" />
    <meta name="description" content="@ViewData["MetaDescription"]" />
    <meta property="og:url" content="http://huyenduc.click/" />
    <meta property="og:site_name" content="@ViewData["MetaTitle"]" />
    <meta property="og:description" content="@ViewData["MetaDescription"]" />
    <meta property="og:locale" content="vi_VN" />
    <meta name="google" content="nositelinkssearchbox" />
    <meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />
    <meta name="revisit-after" content="1 days" />
   </head>
   <body>
        @RenderBody()
   </body>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JNZZ1QXXLM"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-JNZZ1QXXLM');
    </script>
</html>
